*{
    box-sizing: border-box;
}
/* img{
    -webkit-filter: blur(10px);
    filter: blur(10px);
} */
body{
    /* background-image: url('images/fortuneindia_2020-06_ef53f9be-f257-4aa3-9af5-6ca1a9f33a86_close_up_photography_of_leaves_with_droplets_807598.jpg');
    background-size: cover;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
}
#front{
    color: rgb(19, 83, 28);
    font-size: 4vw;
    font-weight: bolder;
    margin: 2% 24%;
    padding-left: 1%;
    border:5px solid  rgb(19, 83, 28);
    box-shadow: 2px 2px 2px rgb(27, 87, 35);
}
.bg{
    background-image: url('fortuneindia_2020-06_ef53f9be-f257-4aa3-9af5-6ca1a9f33a86_close_up_photography_of_leaves_with_droplets_807598.jpg');
    background-size: cover;
    /* position:absolute; */
    height: 99%;
    width: 99%;
    -webkit-filter: blur(6px);
    filter: blur(6px);
    background-repeat: repeat;
}
.logo{
    color: aliceblue;display: inline-block;
    margin-left: 10px;
    width: 15%;
    padding-left: 5%;
    text-align: centre; 
    position:sticky;
    font-weight: bold;
    font-size: large;float: left;
}
.navigation{
    background-color: aliceblue;
    color: rgb(19, 83, 28);
    display: inline-block;
    margin-left: 17%;
    width: 66.25%;
    padding-left:2%;
    text-align: centre;
    position:sticky;
}
.menu{
    color: aliceblue;display: inline-block;
    margin-left: 10px;
    width: 15%;
    padding-left: 5%;
    text-align: centre;
    position:sticky;
    font-weight: bold;
    font-size: large;
}
.navigation li{
    display: inline;
    text-decoration: none;
    color: rgb(19, 83, 28);
    /* height: 21.6px; */
    margin-left: 15px;
    padding-left:10%;
    font-weight: bold;
    font-size: large;
}
li a{
    text-decoration: none;
    color: rgb(19, 83, 28);
    /* height: 21.6px; */
    /*margin-left: 15px;
    padding-left:10%;
    font-weight: bold;
    font-size: large;*/
} 
 li a:hover{
    /* background-color: aliceblue; */
    color:rgb(162, 189, 45);
    text-decoration:underline;
    /* background-color: aliceblue;
    border-radius: 5px; */
}
#map{
    margin: 60px auto;
    height: 500px;
    width: 1000px;
}
#items{
    background-color: aliceblue;
    margin: 2% 35%;
    font-size: 2vw;
    color: rgb(19, 83, 28);
}
#items li{
    margin: 5%;
}
#chatbot{
    margin: 2% 38.5%;
    width: 22.8%;
    height: 25vw;
    max-height: 35vw;
    border:9px double rgb(19, 83, 28);
}